.contain {
  width: 100%;
  height: 100%;

  .board {
      width: 700px;
      height: 700px;
      background: url('https://images.chesscomfiles.com/chess-themes/boards/green/150.png')center center / cover no-repeat;


      .list-chessman{
          width:100%;
          height:12.5%;

          .chessman{
              width:12.5%;
              height:100%;
              color:black;
              border:1px solid rgb(255, 0, 0);
              cursor:pointer;
              position:relative;

              .position{
                  position:absolute;
                  left:0;
                  top:0;
                  color:black;
              }

              .stt{
                  position:absolute;
                  right:0;
                  bottom:0;
                  color:black;
              }

              .wrapp{
                  width:100%;
                  height:100%;
                  // border:3px solid rgba(255, 0, 0, 0.367);
              }

              &.highlight-bad{
                  background-color:rgb(255, 0, 0);
              }

              &.highlight-good{
                  background-color:rgb(0, 255, 30);
              }
          }
      }
  }
}
.flexbox-center-center{
	display:flex !important;
	flex-wrap:wrap !important;
	align-items:center !important;
	justify-content:center !important;
}

.flexbox-start-start{
	display:flex !important;
	flex-wrap:wrap !important;
	align-items:flex-start !important;
	justify-content:flex-start !important;
}
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: Quicksand,helvetica neue,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
}

.clear{
	clear:both !important;
}

a{
  text-decoration:none !important;
  text-transform: capitalize !important;
  color:rgb(243, 243, 243) !important;
}

ul{
  list-style:none !important;
  margin-bottom: 0 !important;
}

img{
	width:100% !important;
  height:100% !important;
}

a:hover{
  opacity:0.8 !important;
  cursor:pointer !important;
}

.float-r{
	float:right !important;
}

.float-l{
	float:left !important;
}

.relative{
  position:relative !important;
}

.absolute{
  position: absolute !important;
}

.pointer{
  cursor:pointer !important;
}

.none{
  display:none;
}

p ,h1,h2,h3,h4,h5,h6{
  margin-bottom:0 !important;
  cursor:default;
}

