<div class="score">Score: {{score}}</div>
<div class="wrapper">
  <div class="flexbox-start-start" *ngFor="let eachKeyBoard of keyBoard">
    <div class="keyBoardItem" *ngFor="let eachKeyBoard of eachKeyBoard">
      <!-- {{eachKeyBoard.position}} -->
        <div class="snake" *ngIf="eachKeyBoard.snake">
          <div class="head" *ngIf="eachKeyBoard.snake.part == 'head'"></div>
        </div>

        <div class="energy" *ngIf="eachKeyBoard.position[0] == energy.position[0] && eachKeyBoard.position[1] == energy.position[1]">
        </div>
    </div>
  </div>
</div>
